
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    overflow-x: hidden;
    background-color: #E9F1FA;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.active{
    color: crimson;
    text-decoration: underline;
    
}

nav a:hover{
    color:black;
    font-size: 38px;
}

nav a:active{
    color: yellow;
}




.navbar{
    height:90px;
    width:100%;
    background-color:#856887;
    border:2px solid rgb(243, 239, 239);
}
.nav-links{
    float: right;
    margin-right: 20px;
    font-family:sans-serif;
    

}
.nav-links li{
    display: inline-block;
    margin:0px 20px;
    line-height: 80px;
    
       
}

.navbar a{
    color:whitesmoke;
    font-size: 30px;
}
.logo{
    float: left;
    padding:20px;
    font-size: 30px;
    
}
header{
   background-image: url(images/ggg.jpg);
   background-size:cover;
   background-position:bottom;
   background-attachment: fixed;
   width:100vw;
   height:100vh;
   display: flex;
    align-items:flex-end;
    justify-content: center;

}

.header-content{
    margin-bottom: 150px;
    color:whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 4vmin;
}
.line{
    width: 150px;
    height:4px;
    background-color: crimson;
    margin:10px auto;
    border-radius: 5px;
}
.header-content h1{
    font-size:7vmin;
    margin-top:50px;
    margin-bottom: 30px;

}
.ctn{
    padding: 8px 15px;
    background: crimson;
    border-radius: 30px;
    color: whitesmoke;
}
.ctn:hover{
    font-size: 20px;
}
.ctn:active{
    opacity:.9;
    transition: ctn .7s ease-in-out;
}

section{
    width:60%;
    margin:80px auto;
}
.title{
    text-align: center;
    font-size: 4vmin;
    color:#49497e;
}
.btn{
    color: whitesmoke;
    font-size: 30px;
    position: absolute;
    top: 25px;
    right: 30px;
    display: none;

}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%; 
     
    
}

.column1{
    margin-left: 10px;
}

.events .row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color:#484872;
    margin-top: 10px;
}
.explore{
    background-image: url(images/1f.jpg);
    width: 100vw;
    height:100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

}
.explore-content{
    width:50%;
    padding: 50px;
    color:whitesmoke;
    
}
.explore-content h1{
    font-size: 7vmin;
    
}
.footer{
    width: 100%;
    height: 200px;
    padding:20px 80px;
    margin: 0;
    background: #B2B5E0;
    text-align: center;
}
.footer p{
    color: black;
    margin:20px auto;
    padding: 20px auto;
    font-size: 1.3rem;
}
@media(max-width:858px)
{
    .nav-links a:hover{
        font-size: 38px;
    }
    .btn:hover{
    color: whitesmoke;
    }
    .btn:active{
    font-size: 40px;
    }
    .ctn:hover{
        font-size: 20px;
    }
    .ctn:active{
        opacity:.9;
        transition: ctn .7s ease-in-out;
    }


    .nav-links{
       position: absolute;
       top:75px;
        width:100vw;
        background-color:#484872 ;
        text-align: center; 
        transition: all .5s ease;
         margin-right: -900px;   

    }
   
     

    .mobile{
        margin-right: 0;
    }
    .nav-links li{
        display: block;
    }
    .btn{
        display: block;
        color: black;
        cursor: pointer;
        }
       
        .row .col{
            margin: 20px auto;
        }
        /* .column1{
            position: relative;
            top:20px;
        } */

        .column1{
            margin-top: 30px;
        }
        .row{
            flex-direction: column;
        
        }
        
        .col img{
            max-width: 90%;
        }
        .explore-content{
            width: 100%;
        }
        .footer{
            padding: 10px;
            height:150px;
            
            
        }
        .footer p{
            font-size: 1.2rem;
        }
        header{
            margin-top: auto
        }

        .navbar{
            position: sticky;
            top:0px;
            left: 0px;
            border-style: none;
        }
        
        
       
}


